/* Raleway Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET CSS START */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #030303;
    --second-bg-color: #080808;
    --main-color: #0094FF;
    --text-color: #E6F5FF;
}

html {
    font-size:  60%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

span{
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
/* RESET CSS END */



/* HEADER START */
.header {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: slace(1.1);
}

.logo span{
    color: var(--main-color);
    text-shadow: 0 0 20px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500px;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid transparent;
}

/* Sadece Telefonlar İçin Gözükecek */
#menu-icon {
    font-size: 3.6rem;
    color:var(--main-color);
    display: none;
}
/* HEADER END */

/* HOME START */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    text-align: left;
    margin-top: 3rem;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img{
    width: 32vw;
    position: relative;
    top: 3rem;
    border-radius: 50%;
    box-shadow: 0px 0px 25px var(--main-color);
    cursor: pointer;
    object-fit: cover;
}

.home-img img:hover {
    box-shadow: 0px 0px 25px var(--main-color), 0px 0px 50px var(--main-color), 0px 0px 100px var(--main-color);
}

.home-content p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    max-width: 1000px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    font: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 300ms ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.4) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280;
}

.text-animation span {
    position: relative;
}

.text-animation span::before{
    content: "";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    height: 100%;
    width: calc(100% + 8px);
    position: absolute;
    right: -8px;
    border-left: 3px solid var(--bg-color);
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
 to{
    border-left: 2px solid var(--main-color);
 }
}

@keyframes words {
    0%, 20%{
        content: "Front-end Developer'ım";
    }

    21%, 40%{
        content: "Back-end Developer'ım";
    }

    41%, 60%{
        content: "Software Developer'ım";
    }

    61%, 80%{
        content: "Full Stack Developer'ım";
    }

    81%, 100%{
        content: "Sotfware Tester'ım";
    }
}

@keyframes typing {
    /* 5, 10, 15, 20, 25, 30, 35, 50, ... , 95 */

    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }

    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}
/* HOME END */



/* PROJECTS START */
.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

.projects {
    background-color: var(--second-bg-color);
    padding: 100px 15px;
}
/* PROJECTS END */